.around-world-image {
  grid-area: image;
  padding: 0 0 0.5vw 0.5vw;
  height: 13.5vw;
}

.around-world-title {
  grid-area: title;
}

.around-world-locations {
  grid-area: location;
}

.around-world-grid-container {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "location";
  grid-template-columns: auto;
  color: white;
}

.around-world-img {
  width: 13vw;
  height: 13vw;
  border-radius: 15px;
  margin-top: 0.5vw;
}

.around-world-weather {
  position: relative;
  top: -12%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: white;
  background: white;
  background-color: rgba(0, 0, 0, 0.58);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 13vw;
  height: 3vw;
}

.around-world-description {
  font-size: 1vw;
  padding-left: 1vw;
  padding-top: 0.9vw;
  float: left;
}

.around-world-temp {
  font-size: 1.4vw;
  padding-right: 1vw;
  float: right;
  padding-top: 0.7vw;
}

.around-world-title-text {
  text-align: center;
  font-size: 1.5vw;
}

.around-world-line {
  border-bottom: 1px solid white;
  margin: 0.5vw 1vw 0 1vw;
}

.around-world-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.1vw;
}

.around-world-city {
  cursor: pointer;
  margin: 1vw 1.5vw 0 1.5vw;
  border: 1px solid rgba(60, 58, 58, 0.3);
  border-radius: 10px;
  background-color: rgba(60, 58, 58, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.25s ease-in-out;
}

.around-world-city-active {
  cursor: pointer;
  margin: 1vw 1.5vw 0 1.5vw;
  border: 1px solid rgba(60, 58, 58, 0.3);
  border-radius: 10px;
  background-color: rgba(7, 23, 33, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.25s ease-in-out;
}

.around-world-city:hover {
  transform: scale(1.1);
}

.around-world-city:active {
  transform: scale(1.1);
  background-color: rgba(7, 23, 33, 0.7);
}
