.button-input {
  color: white;
  background-color: rgba(7, 23, 33, 1);
  font-size: 1vw;
  font-weight: 800;
  border-radius: 15px;
  padding: 1vw;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Roboto;
}

.button-input:hover {
  background-color: rgba(7, 23, 33, 0.6);
}

.button-input:active {
  background-color: rgba(7, 23, 33, 0.4);
}

.button-image {
  height: 1.3vw;
  width: 1.3vw;
  padding-right: 0.3em;
  vertical-align: sub;
}

.button-text {
  font-size: 1.2vw;
}
