.button-input {
  color: white;
  background-color: rgba(7, 23, 33, 0.6);
  font-size: 0.5em;
  font-weight: 800;
  border-radius: 15px;
  padding: 1em;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Roboto;
}

.button-input:hover {
  background-color: rgba(11, 37, 53, 0.6);
}

.button-input:active {
  background-color: rgba(17, 59, 85, 0.6);
}

.button-image {
  vertical-align: sub;
  height: 20px;
  width: 20px;
  padding-right: 0.3em;
}

.button-text {
  font-size: 20px;
}

@media only screen and (max-width: 1105px) {
  .button-text {
    font-size: 17px;
  }
  .button-image {
    vertical-align: unset;
    height: 15px;
    width: 15px;
    padding-right: 0.3em;
  }
}
