.current-location-image {
  grid-area: header;
}

.current-location-icon {
  width: 100%;
}

.current-location-city {
  grid-area: menu;
  color: white;
  text-align: left;
  padding-top: 0.6em;
  position: relative;
}

.current-location-change-location {
  grid-area: right;
  color: white;
  position: relative;
}

.current-location-grid-container {
  display: grid;
  grid-template-areas:
    'header menu right'
    'header menu right';
  grid-template-columns: 9vw 15vw 55vw;
  padding: 10px;
}

.current-location-city-name {
  font-size: 0.9em;
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -1.4em;
}

.current-location-state-name {
  font-size: 0.6em;
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: 0.6em;
}

.current-location-button {
  font-size: 0.9em;
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -1.1em;
}
