.current-location-image {
  grid-area: header;
}

.current-location-icon {
  width: 100%;
  padding-left: 0.4em;
}

.current-location-city {
  grid-area: menu;
  text-align: left;
  padding-top: 0.6em;
  position: relative;
}

.current-location-change-location {
  grid-area: right;
  position: relative;
}

.current-location-grid-container {
  display: grid;
  grid-template-areas:
    'header menu right'
    'header menu right';
  grid-template-columns: 9vw 20vw 55vw;
  color: white;
}

.current-location-city-name {
  font-size: 1.2em;
  position: absolute;
  top: 58%;
  height: 10em;
  margin-top: -1.4em;
  padding-left: 0.5em;
}

.current-location-button {
  font-size: 0.9em;
  position: absolute;
  top: 54%;
  right: 4%;
  height: 10em;
  margin-top: -1.1em;
}

.current-location-state-name {
  font-size: 0.6em;
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: 0.6em;
  padding-left: 1em;
}

@media only screen and (max-width: 1105px) {
  .current-location-city-name {
    font-size: 0.8em;
    position: absolute;
    top: 52%;
    height: 10em;
    margin-top: -1.4em;
    padding-left: 0.7em;
  }
  .current-location-button {
    font-size: 0.9em;
    position: absolute;
    top: 57%;
    right: 4%;
    height: 10em;
    margin-top: -1.1em;
  }
  .current-location-state-name {
    font-size: 0.5em;
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: 0.6em;
    padding-left: 1em;
  }
}
