.hourly-forecast-header {
  grid-area: header;
  text-align: center;
  color: white;
}
.hourly-forecast-1 {
  grid-area: one;
}
.hourly-forecast-2 {
  grid-area: two;
}
.hourly-forecast-3 {
  grid-area: three;
}
.hourly-forecast-4 {
  grid-area: four;
}
.hourly-forecast-5 {
  grid-area: five;
}
.hourly-forecast-6 {
  grid-area: six;
}
.hourly-forecast-7 {
  grid-area: seven;
}
.hourly-forecast-8 {
  grid-area: eight;
}
.hourly-forecast-9 {
  grid-area: nine;
}
.hourly-forecast-10 {
  grid-area: ten;
}
.hourly-forecast-11 {
  grid-area: eleven;
}
.hourly-forecast-12 {
  grid-area: twelve;
}
.hourly-forecast-13 {
  grid-area: thirteen;
}
.hourly-forecast-14 {
  grid-area: fourteen;
}

.hourly-forecast-grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header'
    'one two three four five six seven'
    'eight nine ten eleven twelve thirteen fourteen';
  grid-gap: 0.5vw;
  grid-template-rows: 4.5vw 5vw 5vw;
  padding: 0.5vw 1vw 1vw 1vw;
}

.hourly-forecast-grid-container > div:not(:first-child) {
  border: 1px solid #ffffffb9;
  font-size: 2vw;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.hourly-forecast-title {
  font-size: 2.2vw;
}

.hourly-forecast-line {
  border-bottom: 1px solid white;
  margin-top: 1vw;
}

.hourly-forecast-time {
  padding-top: 0.4vw;
  font-size: 1vw;
}

.hourly-forecast-icon {
  margin-top: -1em;
  width: 2vw;
  height: 2vw;
}

.hourly-forecast-temp {
  margin-top: -0.5em;
  font-size: 1.2vw;
}
