.weather-container {
  font-family: Roboto;
}

.weather-current-location {
  grid-area: header;
}
.weather-around-the-world {
  grid-area: menu;
}
.weather-current {
  grid-area: main;
}
.weather-forecast {
  grid-area: right;
}
.weather-seven-day {
  grid-area: footer;
  padding: 1vw 0 0.5vw 0;
}

.weather-grid-container {
  display: grid;
  grid-template-areas:
    "menu header header header header header"
    "menu main right right right right"
    "menu footer footer footer footer footer";
  grid-template-columns: 14vw 23vw 17vw 13vw 13vw 8vw;
  grid-template-rows: 9.5vw 17vw 18vw;
  grid-gap: 1vw;
  justify-content: center;
}

.weather-grid-container > div {
  background-color: rgba(60, 58, 58, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weather-grid-container {
  margin-top: 5vh;
}

.weather-modal {
  padding: 7em 15em 7em 15em;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  color: black;
  background: white;
  box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.7);
}

.hide {
  display: none;
}
