.weather-container {
  margin: 3vh 2vw 3vh 2vw;
  font-family: Roboto;
}

.weather-current-location {
  grid-area: header;
}
.weather-around-the-world {
  grid-area: menu;
}
.weather-current {
  grid-area: main;
}
.weather-forecast {
  grid-area: right;
}
.weather-seven-day {
  grid-area: footer;
  padding: 5.2em;
}

.weather-grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main right right right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.weather-grid-container > div {
  background-color: rgba(123, 120, 120, 0.3);

  font-size: 30px;
  border-radius: 15px;
}
.weather-modal {
  padding: 7em 15em 7em 15em;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  color: black;
  background: white;
  box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.7);
}

.hide {
  display: none;
}

@media only screen and (max-width: 1105px) {
  .weather-container {
    margin: 3vh 4vw 3vh 2vw;
    font-family: Roboto;
  }
}
