body {
  background-image: url("assets/sunset.jpg");
  /* Full height */
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 3px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
